:root {
    --background-color: #252525;
    --links-color: #CCCCCC;
    --text-color: rgb(230, 230, 230);
    --red-items: #E02844;
}


@font-face {
    font-family: 'Qualy';
    src: url(../resources/fonts/Qualy\ Bold.ttf);
}

@font-face {
    font-family: 'Gotham';
    src: url(../resources/fonts/Gotham-Font/GothamBook.ttf),
    url(../resources/fonts/Gotham-Font/GothamLight.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Gotham', sans-serif;
    color: var(--text-color);
}

body {
    background-color: var(--background-color); /* #252525*/
}

.header {
    padding: 0 10px;
}

.header h1 {
    font-family: 'Qualy', sans-serif;
    color: var(--red-items);
    text-shadow: 3px 0px 3px rgba(97, 97, 97, 0.2);
}

.header a {
    font-size: 18px;
    font-weight: bold;
    color: var(--links-color);
}

.button {
    border: none;
    background-color: transparent;
    margin: 0 10px;
    color: #FFFFFF;
}

.button:hover {
    transition: .3s;
    color: #CCC;
}


.menu-mobile {
    display: none;
}

.fa-search  {
    
}

@media (max-width: 768px) {
    .header {
        display: none;
    }

    .menu-mobile {
        display: flex;
    }

    .logo {
        font-family: 'Qualy', sans-serif;
        font-size: 36px;
        color: var(--red-items);
        text-shadow: 3px 0px 3px rgba(97, 97, 97, 0.2);
    }


    .navbar {
        height: 60px;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-nav .nav-item .nav-link {
        color: var(--links-color);
    }

    .navbar-nav .nav-item .nav-link:hover {
        transition: .3s;
        color: #e7e7e7;
    }

    .menu-color i {
        color: var(--red-items);
    }
    
    
    button:focus {
        outline: none;
    }

    .fa-1x {
        font-size: 1.5rem;
    }

    .navbar-toggler.toggler-example {
        cursor: pointer;
    }

    .menu-color {
        color: #E02844;
    }

    .dark-pink-text {
        color: #AC003A;
    }

    .dark-amber-text {
        color: #ff6f00;
    }

    .dark-teal-text {
        color: #004d40;
    }

/* <<<<<<< Amanda */
.email {
    margin: 0 5% 0 3%;
    outline: none;
    border: none;
    border-bottom: black 1px solid;
}

.senha {
    margin: 0 5% 0 3%;
    outline: none;
    border: none;
    border-bottom: black 1px solid;
}

.btn-color {
    background-color: #E02844;
    border: #E02844;
}

.btn-color:hover {
    background-color: black;
/* ======= */
h3{
    font-size: 18px;
    font-weight: bold;
    color: var(--links-color);
}
p{
    font-size: 14px;
    font-weight: bold;
    color: var(--links-color);
}



/* Página contato */

div .card{

    width: 320px;
    background-color: rgba(100, 100, 100, 0.3);

}
img .card-img-top{

    width: 300px;
/* >>>>>>> main */
}