:root {
    --background-color: #252525;
    --links-color: #CCCCCC;
    --text-color: rgb(230, 230, 230);
    --red-items: #E02844;
}

@font-face {
    font-family: 'Qualy';
    src: url(../resources/fonts/Qualy\ Bold.ttf);
}

@font-face {
    font-family: 'Gotham';
    src: url(../resources/fonts/Gotham-Font/GothamBook.ttf),
    url(../resources/fonts/Gotham-Font/GothamLight.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Gotham', sans-serif;
    color: var(--text-color);
}

body {
    background-color: var(--background-color); /* #252525*/
}

.header {
    padding: 0 10px;
}

.header h1 {
    font-family: 'Qualy', sans-serif;
    color: var(--red-items);
    text-shadow: 3px 0px 3px rgba(97, 97, 97, 0.2);
}

.header a {
    font-size: 18px;
    font-weight: bold;
    color: var(--links-color);
}

.button {
    border: none;
    background-color: transparent;
    margin: 0 10px;
    color: #FFFFFF;
}

.button:hover {
    transition: .3s;
    color: #CCC;
}

.menu-mobile {
    display: none;
}


@media (max-width: 768px) {
    .header {
        display: none;
    }

    .menu-mobile {
        display: flex;
    }

    .logo {
        font-family: 'Qualy', sans-serif;
        font-size: 36px;
        color: var(--red-items);
        text-shadow: 3px 0px 3px rgba(97, 97, 97, 0.2);
    }

    .navbar {
        height: 60px;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-nav .nav-item .nav-link {
        color: var(--links-color);
    }

    .navbar-nav .nav-item .nav-link:hover {
        transition: .3s;
        color: #e7e7e7;
    }

    .menu-color i {
        color: var(--red-items);
    }
    
    button:focus {
        outline: none;
    }

    .fa-1x {
        font-size: 1.5rem;
    }

    .navbar-toggler.toggler-example {
        cursor: pointer;
    }

    .menu-color {
        color: #E02844;
    }

    .dark-pink-text {
        color: #AC003A;
    }

    .dark-amber-text {
        color: #ff6f00;
    }

    .dark-teal-text {
        color: #004d40;
    }
}



p, span {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.close-icon {
    color: red;
    font-size: 30px;
}

/* Página contato */

div .card{
    width: 320px;
    background-color: rgba(100, 100, 100, 0.3);
}
img .card-img-top{
    width: 300px;
}

.button {
    border: none;
    background-color: transparent;
    margin: 0 10px;
    color: #FFFFFF;
}

.button:hover {
    transition: .3s;
    color: #CCC;
}

/* login */
.email-login {
    margin-left: 3%;
}

.email {
    margin: 0 5% 0 3%;
    outline: none;
    border: none;
    border-bottom: black 1px solid;
}

.senha {
    margin: 0 5% 0 3%;
    outline: none;
    border: none;
    border-bottom: black 1px solid;
}

.recuperacao {
    margin-left: 3%;
}

.btn-color {
    background-color: #E02844;
    border: #E02844;
}

.btn-color:hover {
    background-color: black;
    font-size: 18px;
    font-weight: bold;
    color: var(--links-color);
}


/* main */
.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 35%;
    height: 500px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    object-position: 0 25%;
    height: 500px;
}

.imagem-carrossel-tres {
    object-fit: cover;
    object-position: 0 25%;
    height: 500px;
}

/* footer */

.redes-sociais {
    display: flex;
    justify-content: center;
    margin: 30px 0;

}

.img-redes {
    width: 30px;
    margin: 0 5px;
}

.mapa-site {
    display: flex;
    flex-direction: column;
    margin: 0 15% 10px;
}

.mapa-link {
    color: #f1f1f1;
    text-decoration: none;
}

.mapa-link:hover {
    color: #f1f1f1;
}

.copyright {
    color: #f1f1f1;
    margin: 0 15%;
}

/* Pagina de recuperação */

.bg-img-rec {
    background-image: url(https://streamingsbrasil.com/wp-content/uploads/2019/12/Netflix-est%C3%A1-removendo-filmes-mais-r%C3%A1pido.jpg);
}

.container-pagina-rec {
    display: flex;
    justify-content: center;
    
}

.pagina-rec {
    background-color: rgba(0, 0, 0, 0.6);
    width: 400px;
    padding: 5% 3%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.pagina-rec h3 {
    color: #f1f1f1;
}

.pagina-rec p {
    margin: 20px 0;
}

.email-rec {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 11px;
    margin: 10px 0 30px;
}

.botao-rec {
    border: 1px solid #E02844;
    outline: none;
    width: 100%;
    padding: 10px 11px;
    background-color: #E02844;
    color: white;
    margin-top: 10px;
}

.botao-rec:hover {
    background-color: black;
    transition: 0.4s;
    border: 1px solid #E02844;
}

.email-enviado {
    color: red;
}

/* página de contato */

#aFale{
    text-decoration: none!important;
}

#nossaEquipe{
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.Devs{
        width: 100%;
        height: ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}
.desenvolvedor{
    width: 200px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.fotoDev{
    width: 150px;
    margin: 30px 15px 5px 15px;
}

.informacoes{
    padding: 10px;
    margin: 10px 0 0 0 ;
    align-items: center;
    text-align: center;
}

.iconesDevs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fale-conosco{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

#quadradoFaleConosco{
    width: 70%;
}

.aboutUs{
    color: #f1f1f1; 
}

/* #inputForm{
    font-size: 14px;
    color: #f1f1f1;
} */
.btn{
    background-color: #E02844;
    border: #E02844;
}
.btn:hover{
    background-color: #f1f1f1;
    border: #f1f1f1;
}
.btn:active{
    background-color: #E02844;
    border: #E02844;

    width: 300px;
/* >>>>>>> main */
}

.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 35%;
    height: 500px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    object-position: 0 25%;
    height: 500px;
}

.imagem-carrossel-tres {
    object-fit: cover;
    object-position: 0 25%;
    height: 500px;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #050505;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.img-redes {
    width: 30px;
    margin: 0 5px;
}

.mapa-site {
    display: flex;
    flex-direction: column;
    margin: 0 15% 10px;
}

.mapa-link {
    color: #f1f1f1;
    text-decoration: none;
}

.mapa-link:hover {
    color: #f1f1f1;
}

.copyright {
    color: #f1f1f1;
    margin: 0 15%;
}

/* Pagina de recuperação */
.bg-img-rec {
    background-image: url(https://streamingsbrasil.com/wp-content/uploads/2019/12/Netflix-est%C3%A1-removendo-filmes-mais-r%C3%A1pido.jpg);
}

.container-pagina-rec {
    display: flex;
    justify-content: center;
}

.pagina-rec {
    background-color: rgba(0, 0, 0, 0.6);
    width: 400px;
    padding: 5% 3%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.pagina-rec h3 {
    color: #f1f1f1;
}

.pagina-rec p {
    margin: 20px 0;
}

.email-rec {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 11px;
    margin: 10px 0 30px;
}

.botao-rec {
    border: 1px solid #E02844;
    outline: none;
    width: 100%;
    padding: 10px 11px;
    background-color: #E02844;
    color: white;
    margin-top: 10px;
}

.botao-rec:hover {
    background-color: black;
    transition: 0.4s;
    border: 1px solid #E02844;
}

.email-enviado {
    color: red;
}