.busca {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}

.busca div {
    display: flex;
}

.input-busca, .button-busca {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    height: 40px;
    margin: 0;
}

.input-busca {
    border-radius: 7px 0 0 7px;
    background-color: transparent;
    border: 1px solid rgb(200, 200, 200);
    color: var(--text-color);
}

.input-busca:focus {
    border: 1px solid #E02844;
}

.button-busca {
    border-radius: 0 7px 7px 0;
    background-color: rgb(200, 200, 200);
    text-transform: uppercase;
    font-weight: bold;
    color: #1f1f1f;
}

.button-busca:hover {
    transition: .3s;
    background-color: rgb(160, 160, 160);
}

.button-busca:active {
    background-color: #E02844;
}

.resultados {
    font-size: 18px;
    margin: 10px;
    display: inline;
}

.filmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.filme-container {
    display: flex;
    align-items: center;
    justify-content: baseline;
    background-color: rgb(58, 58, 58);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    overflow: hidden;
}

.filme-container:hover {
    transition: .4s;
    transform: scale(1.02);
}

.capa img {
    width: 160px;
    border-radius: 10px;
}

.info-filme {
    margin-left: 10px;
}

.info-filme .titulo-filme {
    font-weight: bold;
    margin: 0;
    font-size: 34px;
    max-width: fit-content;
}

.info-filme .tipo-filme {
    font-size: 24px;
    font-style: italic;
    margin: 0;
}
.info-filme .ano-filme {
    font-size: 18px;
    font-weight: bold;
}

.erro-busca {
    margin: 10px 0 0 0;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid rgba(68, 3, 3, .7);
    background-color: rgba(219, 30, 30, 0.4);
}

/* media queria para tablets*/
@media (max-width: 800px) {
    .filme-container {
        display: flex;
        align-items: center;
        justify-content: baseline;
        background-color: rgb(58, 58, 58);
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
    }
}